@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #bdc6e0;
}

header {
  background: #f1e1e1;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
nav p{
  font-size: 10px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  font-family: 'Vesper Libre', serif;
}

ul {
  display: flex;
  list-style: none;
  padding-right: 30px;
}

li {
  margin-right: 10px;
  font-weight: bold;
  color: #555555;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 10px;
}
li a {
 color: #081144;
}
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333333;
  font-size: 10px;
  width: 200px;
}

.search-bar button[type="submit"] {
  padding: 8px 15px;
  background-color: #555555;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  margin-left: 10px;
}
main {
  padding: 20px;
}

.post {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-header h2 {
  font-size: 16px;
  color: #333333;
}

.post-content p {
  font-size: 14px;
  color: #555555;
}
.post-content iframe{
  width: 100%;
}

@media only screen and (max-width:500px){
  nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(255,255,255);
  }
  nav p{
    display: none;
  }
  .search-bar{
    display: none;
  }
  main{
    padding-bottom: 40px;
  }
  iframe{
    height: 150px;
  }
}